* {
    margin: 0;
}

.heading {
    background-image: url(/images/donation7.jpg);
    background-repeat: no-repeat;

}

.opening-msg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    padding: 160px 340px 0;
}

.head-msg-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 400px 0;

}

.btn-primary {
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 21px;
    margin-top: 30px;
    margin-bottom: 185px;
    margin-left: 680px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.banner {}

.donate-today {
    margin-top: 130px;
}

.sec-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    margin-bottom: 20px;
}

.dn-td-des {
    text-align: center;
    max-width: 600px;
    margin-left: 450px;
    margin-bottom: 50px;
}

.donation-amount-container {
    display: flex;
    gap: 22px;
    margin-left: 340px;
    margin-bottom: 60px;
}

.amount-box {
    padding: 44px 24px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    font-family: 'Inter';
    font-style: normal;
}

.amount-box-color {
    padding: 44px 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.d-t-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    text-align: center;
    margin-bottom: 10px;
}

.line {
    max-width: 765px;
    color: #DADADA;
    margin-left: 350px;
}

.donate-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
}

.donate-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    max-width: 691px;
    margin-left: 375px;
    margin-top: 20px;

}

.donate-type-container {
    display: flex;
    gap: 24px;
    margin-left: 190px;
    margin-top: 50px;

}

.donate-type-1 {
    border: 352px 360px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.donate-type-2 {
    border: 352px 360px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.donate-type-3 {
    border: 352px 360px;
    border-radius: 5px;
    background-color: peachpuff
}

.d-type1-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin-left: 23px;
}



.d-type1-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    margin-left: 23px;
    margin-right: 22px;
    margin-bottom: 54px;
    max-width: 315px;
}

.d-type1-img {
    margin-top: 64px;
    margin-left: 23px;
    margin-bottom: 32px;
}